[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib
[submodule "extern/raylib-cpp"]
	path = extern/raylib-cpp
	url = https://github.com/robloach/raylib-cpp
[submodule "extern/yngine"]
	path = extern/yngine
	url = https://github.com/temhelk/yngine
[submodule "extern/rlImGui"]
	path = extern/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/nativefiledialog-extended"]
	path = extern/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
